@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: asset-url("flatkit/material-design-icons/iconfont/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       asset-url("flatkit/material-design-icons/iconfont/MaterialIcons-Regular.woff2") format('woff2'),
       asset-url("flatkit/material-design-icons/iconfont/MaterialIcons-Regular.woff") format('woff'),
       asset-url("flatkit/material-design-icons/iconfont/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  vertical-align: -4px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; vertical-align: -7px;}
.material-icons.md-36 { font-size: 36px; vertical-align: -12px;}
.material-icons.md-48 { font-size: 48px; vertical-align: -16px;}
