// lazyload config
var MODULE_CONFIG = {
    easyPieChart:   [ '<%= asset_url "flatkit/libs/jquery/jquery.easy-pie-chart/dist/jquery.easypiechart.fill.js" %>'],
    sparkline:      [ '<%= asset_url "flatkit/libs/jquery/jquery.sparkline/dist/jquery.sparkline.retina.js" %>'],
    plot:           [ '<%= asset_url "flatkit/libs/jquery/flot/jquery.flot.js" %>',
                      '<%= asset_url "flatkit/libs/jquery/flot/jquery.flot.resize.js" %>',
                      '<%= asset_url "flatkit/libs/jquery/flot/jquery.flot.pie.js" %>',
                      '<%= asset_url "flatkit/libs/jquery/flot.tooltip/js/jquery.flot.tooltip.min.js" %>',
                      '<%= asset_url "flatkit/libs/jquery/flot-spline/js/jquery.flot.spline.min.js" %>',
                      '<%= asset_url "flatkit/libs/jquery/flot.orderbars/js/jquery.flot.orderBars.js" %>'
                    ],
    vectorMap:      [ '<%= asset_url "flatkit/libs/jquery/bower-jvectormap/jquery-jvectormap-1.2.2.min.js" %>',
                      '<%= asset_url "flatkit/libs/jquery/bower-jvectormap/jquery-jvectormap.css" %>',
                      '<%= asset_url "flatkit/libs/jquery/bower-jvectormap/jquery-jvectormap-world-mill-en.js" %>',
                      '<%= asset_url "flatkit/libs/jquery/bower-jvectormap/jquery-jvectormap-us-aea-en.js" %>'
                    ],
    dataTable:      [
                      '<%= asset_url "flatkit/libs/jquery/datatables/media/js/jquery.dataTables.min.js" %>',
                      '<%= asset_url "flatkit/libs/jquery/plugins/integration/bootstrap/3/dataTables.bootstrap.js" %>',
                      '<%= asset_url "flatkit/libs/jquery/plugins/integration/bootstrap/3/dataTables.bootstrap.css" %>'
                    ],
    footable:       [
                      '<%= asset_url "flatkit/libs/jquery/footable/dist/footable.all.min.js" %>',
                      '<%= asset_url "flatkit/libs/jquery/footable/css/footable.core.css" %>'
                    ],
    screenfull:     [
                      '<%= asset_url "flatkit/libs/jquery/screenfull/dist/screenfull.min.js" %>'
                    ],
    sortable:       [
                      '<%= asset_url "flatkit/libs/jquery/html.sortable/dist/html.sortable.min.js" %>'
                    ],
    nestable:       [
                      '<%= asset_url "flatkit/libs/jquery/nestable/jquery.nestable.css" %>',
                      '<%= asset_url "flatkit/libs/jquery/nestable/jquery.nestable.js" %>'
                    ],
    summernote:     [
                      '<%= asset_url "flatkit/libs/jquery/summernote/dist/summernote.css" %>',
                      '<%= asset_url "flatkit/libs/jquery/summernote/dist/summernote.js" %>'
                    ],
    parsley:        [
                      '<%= asset_url "flatkit/libs/jquery/parsleyjs/dist/parsley.css" %>',
                      '<%= asset_url "flatkit/libs/jquery/parsleyjs/dist/parsley.min.js" %>'
                    ],
    select2:        [
                      '<%= asset_url "flatkit/libs/jquery/select2/dist/css/select2.min.css" %>',
                      '<%= asset_url "flatkit/libs/jquery/select2-bootstrap-theme/dist/select2-bootstrap.min.css" %>',
                      '<%= asset_url "flatkit/libs/jquery/select2-bootstrap-theme/dist/select2-bootstrap.4.css" %>',
                      '<%= asset_url "flatkit/libs/jquery/select2/dist/js/select2.min.js" %>'
                    ],
    datetimepicker: [
                      '<%= asset_url "flatkit/libs/jquery/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" %>',
                      '<%= asset_url "flatkit/libs/jquery/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.dark.css" %>',
                      // '<%= asset_url "flatkit/libs/js/moment/moment.js" %>',
                      '<%= asset_url "flatkit/libs/jquery/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %>'
                    ],
    chart:          [
                      '<%= asset_url "flatkit/libs/js/echarts/build/dist/echarts-all.js" %>',
                      '<%= asset_url "flatkit/libs/js/echarts/build/dist/theme.js" %>',
                      '<%= asset_url "flatkit/libs/js/echarts/build/dist/jquery.echarts.js" %>'
                    ],
    bootstrapWizard:[
                      '<%= asset_url "flatkit/libs/jquery/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js" %>'
                    ],
    fullCalendar:   [
                      // '<%= asset_url "flatkit/libs/jquery/moment/moment.js" %>',
                      // '<%= asset_url "flatkit/libs/jquery/fullcalendar/dist/fullcalendar.min.js" %>',
                      // '<%= asset_url "flatkit/libs/jquery/fullcalendar/dist/fullcalendar.css" %>',
                      // '<%= asset_url "flatkit/libs/jquery/fullcalendar/dist/fullcalendar.theme.css" %>',
                      // '<%= asset_url "flatkit/scripts/plugins/calendar.js" %>',
                      // '<%= asset_url "flatkit/libs/jquery/fullcalendar/dist/locale-all.js" %>',
                    ],
    dropzone:       [
                      '<%= asset_url "flatkit/libs/js/dropzone/dist/min/dropzone.min.js" %>',
                      '<%= asset_url "flatkit/libs/js/dropzone/dist/min/dropzone.min.css" %>'
                    ]
  };
