@import "flatkit/scss/app";

/* Cancel rule on .text */
/* line 75, /mnt/hgfs/projects/Viktor/viktor-web/lib/flatkit/app/assets/stylesheets/flatkit/scss/util.text.scss */
.form-group.text, .form-group.text > .text {
  font-size: 0.875rem;
}

.nav-icon-override {
  margin-right: 0rem;
}

.navside li.active {
  background-color: none;
}

.navside li.selected {
  background-color: #8ECDCB !important;
}

table tbody td{
	vertical-align: middle;
}

.form-group.date, .form-group.datetime, .form-group.time{
	label{
		display: block;
	}
	select{
		display: inline-block;
		width: auto;
	}
}

.field_with_errors{
	label, span{
		color: red;
	}
	span.error{
		padding-left: 4px;
	}
}

.nested-fields{
	margin-bottom: 10px;
}

/* Cancel default style sortable on table */

table .list-group-item{
	position: static;
	display: table-row;
}

.js-handle {
	cursor: pointer;
}

table.dd{
	max-width: none;
	display: table;

	margin-bottom: 16px;
}

tbody.dd-list,tbody.dd-dragel{
	display: table-row-group;

	tr.dd-item{
		display: table-row;
		background-color: white !important;

		td.dd-handle{
			display: table-cell;
		}
	}
}
